TTS_MODEL_DIR=/models/tts/vits-melo-tts-zh_en
TTS_MODEL_FILE=/models/tts/vits-melo-tts-zh_en/model.onnx
TTS_TOKENS_FILE=/models/tts/vits-melo-tts-zh_en/tokens.txt
TTS_LEXICON_FILE=/models/tts/vits-melo-tts-zh_en/lexicon.txt
TTS_DATA_DIR=
TTS_DEVICE=cpu
TTS_NUM_THREADS=8
TTS_MAX_TEXT_CHARS=500
TTS_SPEAKER_ID=0
TTS_SPEED=1.0
CUDA_VISIBLE_DEVICES=
